<div class="consultant js-fadein">
	<h2 class="section-title js-draw-from-right">
		<span><p>キャリアコンサルタント</p></span>
		<br>
		<span><p>川崎 貴子氏 推薦</p></span>
	</h2>
	<div class="consultant__content">
		<img class="consultant__content-image js-fadein" src="public/images/consultant.jpg" alt="">
		<p class="consultant__content-name js-fadein">
			可能性とは「年齢を重ね、<span>仕事を続けることで</span><span>自分の稼ぐ力が</span><span>付いてくること」</span>
		</p>
		<div class="consultant__content-description js-fadein">
			<p>
				私は夜の仕事から、昼の仕事に転職される方を多数見てきました。昼の仕事は、夜に比べて稼げるお金も少ないし、ルールもマナーも多く慣れるまでが大変です。しかし、仕事を続けるうちに、可能性が広がっていくのです。可能性とは「年齢を重ね、仕事を続けることで、自分の稼ぐ力が付いてくること」。
				<br><br>
				<span class="u-show-pc">
					今や、昼の仕事……すなわち会社側も、学歴や経歴にとらわれることなく、コミュニケーション能力、人間力を求めています。かつてよりも、チャンスが広がっているのです。つまり、あなたがこれまで、夜の仕事の現場で培ってきたこと、そして耐えてきたことは、昼の仕事で高く評価される時代になったのです。10年後、20年後……そして、50歳、60歳、70歳になったあなたのために、今からあなたの人生を考えてみませんか？
				</span>
			</p><br class="u-show-pc">
			<p style="display: none;" id="js-consultant-extra">
				今や、昼の仕事……すなわち会社側も、学歴や経歴にとらわれることなく、コミュニケーション能力、人間力を求めています。かつてよりも、チャンスが広がっているのです。つまり、あなたがこれまで、夜の仕事の現場で培ってきたこと、そして耐えてきたことは、昼の仕事で高く評価される時代になったのです。10年後、20年後……そして、50歳、60歳、70歳になったあなたのために、今からあなたの人生を考えてみませんか？
			</p>
			<a class="consultant__content-description-toggle js-read-more" data-target="#js-consultant-extra" href="#">詳しく見る</a>
		</div>
	</div>
</div>