<div class="consultant">
	<h2 class="section-title">
		<span>キャリアコンサルタント</span>
		<span>◯◯氏推薦</span>
	</h2>
	<div class="consultant__content">
		<img class="consultant__content-image" src="public/images/consultant.jpg" alt="">
		<p class="consultant__content-name">
			テキストテキストテキストテ<span>テキストテキストテキストテ</span>
		</p>
		<p class="consultant__content-description">
			テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
		</p>
	</div>
</div>