<div class="consultant js-fadein">
	<h2 class="section-title js-draw-from-right">
		<div class="u-show-pc">
			<span><p>キャリアコンサルタント◯◯氏推薦</p></span>
		</div>
		<div class="u-show-sp">
			<span><p>キャリアコンサルタント</p></span>
			<span><p>◯◯氏推薦</p></span>
		</div>
	</h2>
	<div class="consultant__content">
		<img class="consultant__content-image js-fadein" src="public/images/consultant.jpg" alt="">
		<p class="consultant__content-name js-fadein">
			テキストテキストテキストテ<span>テキストテキストテキストテ</span>
		</p>
		<p class="consultant__content-description js-fadein">
			テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
		</p>
	</div>
</div>