<div class="consultant">
	<h2 class="section-title">
		<span>キャリアコンサルタント</span>
		<span>◯◯氏推薦</span>
	</h2>
	<div class="consultant__content">
		<img class="consultant__content-image js-fadein" src="public/images/consultant.jpg" alt="">
		<p class="consultant__content-name js-fadein">
			テキストテキストテキストテ<span>テキストテキストテキストテ</span>
		</p>
		<p class="consultant__content-description js-fadein">
			テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
		</p>
	</div>
</div>