<div class="contact js-fadein" data-offset="50">
	<p class="contact__description">昼キャリのエージェントへの相談は無料です。<br>どうぞお気軽にお問い合わせください。</p>
	<a class="contact__button contact__button--phone" href="#">
		<p>昼キャリ</p>
		<p>03-1111-1111</p>
	</a>
	<a class="contact__button contact__button--line" href="#">
		<p><span>LINE</span>で相談する</p>
	</a>
</div>