<div class="contact js-fadein" data-offset="50">
	<p class="contact__description">昼キャリのエージェントへの相談は<span>無料</span>です。<br>どうぞお気軽にお問い合わせください。</p>
	<a class="contact__button contact__button--phone" href="tel:0368915331">
		<p>昼キャリ</p>
		<p>03-6891-5331</p>
	</a>
	<a class="contact__button contact__button--line" href="https://lin.ee/4R7GFOv" target="_blank">
		<p><span>LINE</span>で相談する</p>
	</a>
</div>