<div class="contact js-fadein" data-offset="50">
	<p class="contact__description">ホスドラ FOR 昼職転職は<span>完全無料</span>のサービスです。<br>LINEを追加した上で、お気軽にご利用ください。</p>
	<a class="contact__button contact__button--line" href="https://lin.ee/nt3tsKJ" target="_blank">
		<p><span>LINE</span>で相談する</p>
	</a>
</div>