<header class="header">
	<div class="header__logo">
		<a href="/">
			<img src="/lp/tensyoku/public/images/logo.png" alt="">
		</a>
	</div>
	<div class="header__hamburger" id="js-toggle-menu">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<nav class="header__menu" id="js-menu">
		<ul class="header__menu-list">
			<li class="header__menu-item">
				<a class="js-scroll" href="#js-top">ホーム</a>
			</li>
			<li class="header__menu-item">
				<a class="js-scroll" href="#js-info-section">ホスドラ FOR 昼職転職とは</a>
			</li>
			<li class="header__menu-item">
				<a class="js-scroll" href="#js-staff-section">スタッフ</a>
			</li>
			<li class="header__menu-item">
				<a class="js-scroll" href="#js-testimonies-section">元ホスト・ボーイの声</a>
			</li>
		</ul>
		<div class="header__menu-buttons">
			<a class="contact__button contact__button--line" href="https://lin.ee/nt3tsKJ" target="_blank">
				<p><span>LINE</span>で相談する</p>
			</a>
		</div>
	</nav>
</header>