<header class="header">
	<div class="header__hamburger" id="js-toggle-menu">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<nav class="header__menu" id="js-menu">
		<ul class="header__menu-list">
			<li class="header__menu-item">
				<a class="js-scroll" href="#js-top">ホーム</a>
			</li>
			<li class="header__menu-item">
				<a class="js-scroll" href="#js-info-section">昼キャリについて</a>
			</li>
			<li class="header__menu-item">
				<a class="js-scroll" href="#js-staff-section">スタッフ</a>
			</li>
			<li class="header__menu-item">
				<a class="js-scroll" href="#js-testimonies-section">夜職卒業生の声</a>
			</li>
		</ul>
		<div class="header__menu-buttons">
			<a class="contact__button contact__button--phone" href="#">
				<p>昼キャリ</p>
				<p>03-1111-1111</p>
			</a>
			<a class="contact__button contact__button--line" href="#">
				<p><span>LINE</span>で相談する</p>
			</a>
		</div>
	</nav>
</header>