<div class="info">
	<h2 class="section-title">
		<span>昼キャリは</span>
		<span>夜職経験者に特化!!</span>
	</h2>
	<p class="info__description">実績豊富なエージェントが転職相談から転職<br>後のアフターフォローまで、<br> トータルサポートします</p>

	<ul class="info__list">
		<li class="info__item">
			<div class="info__item-image"></div>
			<h3 class="info__item-heading">安心・安全の求人紹介</h3>
			<p class="info__item-description">厚生労働省より有料職業紹介の認可を得ています。実績のあるプロのエージェントが、あなたにあった転職先を紹介するサービスです。</p>
		</li>
		<li class="info__item">
			<div class="info__item-image"></div>
			<h3 class="info__item-heading">充実した転職サポート</h3>
			<p class="info__item-description">提出書類の書き方講座や添削、面接対策、企業情報の提供など、充実したサポートを提供します。</p>
		</li>
		<li class="info__item">
			<div class="info__item-image"></div>
			<h3 class="info__item-heading">面倒な手間がかからない</h3>
			<p class="info__item-description">必要書類の提出や給料等の条件交渉、入社日の決定などは全てお任せください。</p>
		</li>
	</ul>
</div>