<div class="info js-fadein" id="js-info-section">
	<h2 class="section-title js-draw-from-right">
		<div class="u-show-pc">
			<span><p>ホスドラ FOR 昼職転職で夜職を卒業できるワケ</p></span>
		</div>
		<div class="u-show-sp">
			<span><p>ホスドラ FOR 昼職転職で</p></span>
			<span><p>夜職を卒業できるワケ</p></span>
		</div>
	</h2>
	<p class="info__description">実績豊富なエージェントが転職相談から転職後<br class="u-show-sp">のアフターフォローまで、<br class="u-show-sp">トータルサポートします</p>

	<ul class="info__list">
		<li class="info__item js-fadein">
			<div class="info__item-image"></div>
			<h3 class="info__item-heading">人材紹介会社が徹底フォロー</h3>
			<p class="info__item-description">ホスドラ FOR 昼職転職は厚生労働省から有料職業紹介の認可を得た人材会社によって運営しています。</p>
		</li>
		<li class="info__item js-fadein">
			<div class="info__item-image"></div>
			<h3 class="info__item-heading">転職のプロがあなたを手厚くサポート</h3>
			<p class="info__item-description">人材会社にて実績のあるプロのキャリアコンサルタントが、相談者の悩みや希望をヒアリングし、フォローします。</p>
		</li>
		<li class="info__item js-fadein">
			<div class="info__item-image"></div>
			<h3 class="info__item-heading">何から何までプロにお任せできる</h3>
			<p class="info__item-description">給料や休暇などの条件や、これまでの経歴については、キャリアコンサルタントが企業に説明・交渉しています。何から初めて良いのかわからない方もご安心いただけます。</p>
		</li>
	</ul>
</div>