<div class="qna">
	<h2 class="section-title">
		<span>もうこんなことで</span>
		<span>悩む必要はありません</span>
	</h2>
	<ul class="qna__list">
		<li class="qna__item">
			<h3 class="qna__item-heading">昼職で働いたことが<br>なくても大丈夫なのか</h3>
			<p class="qna__item-description">自分が活躍できる職場・職種がないと諦めていませんか。初めは誰もが未経験です。<br> 昼キャリは経験の有無に関係なく、楽しく働けて、成長できる環境を持つ企業をご紹介します。</p>
		</li>
		<li class="qna__item">
			<h3 class="qna__item-heading">彼氏や旦那に夜職を<br>辞めてほしいと言われている</h3>
			<p class="qna__item-description">夜職を卒業できない、したくない理由は何でしょうか。昼キャリのエージェントに何でもご相談ください。</p>
		</li>
		<li class="qna__item">
			<h3 class="qna__item-heading">このまま夜職を<br>続けると将来が不安</h3>
			<p class="qna__item-description">売れる人にとって夜職が短期的に稼げる仕事であることは確かですが、一生できる仕事ではありません。</p>
		</li>
		<li class="qna__item">
			<h3 class="qna__item-heading">そもそも転職の<br>仕方が分からない</h3>
			<p class="qna__item-description">履歴書の書き方、面接で応対する方法などが分からないことは恥ずかしいことではありません。</p>
		</li>
	</ul>
</div>