<div class="qna js-fadein">
	<h2 class="section-title js-draw-from-right">
		<div class="u-show-pc">
			<span><p>こんなお悩みはありませんか？</p></span>
		</div>
		<div class="u-show-sp">
			<span><p>こんなお悩みは</p></span>
			<span><p>ありませんか？</p></span>
		</div>
	</h2>
	<ul class="qna__list">
		<li class="qna__item js-fadein">
			<h3 class="qna__item-heading js-draw-from-right">
				<span><p>昼職未経験</p></span>
				<span><p>夜職でしか働いたことがない</p></span>
			</h3>
			<p class="qna__item-description">学歴や経歴がないからと、転職を諦める必要はありません。<br class="u-show-pc">昼職転職 FOR ホスドラは夜職経験という独特かつ貴重な経歴が活きる職場をご紹介いたします。</p>
		</li>
		<li class="qna__item js-fadein">
			<h3 class="qna__item-heading js-draw-from-right">
				<span><p>結婚や子育て、</p></span>
				<span><p>年齢を考えると将来が不安</p></span>
			</h3>
			<p class="qna__item-description">昼職転職を考えるきっかけは人それぞれですが、よくご相談をいただくのは将来を考えているケース。<br>考えている今こそ、昼職を始める絶好の転機です。</p>
		</li>
		<li class="qna__item js-fadein">
			<h3 class="qna__item-heading js-draw-from-right">
				<span><p>夜職で活躍できる</p></span><br class="u-show-sp">
				<span><p>自信がなくなった</p></span>
			</h3>
			<p class="qna__item-description">夜職しか選択肢がないという人は絶対にいません。<br>適材適所という言葉が存在するように、自分が活躍できる職場を改めて見つけてみてはいかがでしょうか。</p>
		</li>
		<li class="qna__item js-fadein">
			<h3 class="qna__item-heading js-draw-from-right">
				<span><p>履歴書に書く内容がない、</p></span>
				<span><p>企業の見つけ方もわからない</p></span>
			</h3>
			<p class="qna__item-description">履歴書作成や面接練習などのフォローはお任せください。<br>夜職従事者に価値を見出してくれる全国各地の企業を、独自ルートにて開拓し、ご紹介しています。</p>
		</li>
	</ul>
</div>