<div class="qualities">
	<h2 class="section-title">
		<span>夜職経験を昼職で</span>
		<span>活かしましょう！</span><br>
		<span>あなたが評価される、</span>
		<span>その<em>3</em>つの理由</span>
	</h2>
	<ul class="qualities__list">
		<li class="qualities__item">
			<div class="qualities__item-image"></div>
			<h3 class="qualities__item-heading">コミュニケーション 能力が高い</h3>
		</li>
		<li class="qualities__item">
			<div class="qualities__item-image"></div>
			<h3 class="qualities__item-heading">ストレス耐性が高い</h3>
		</li>
		<li class="qualities__item">
			<div class="qualities__item-image"></div>
			<h3 class="qualities__item-heading">ハングリー精神が高い</h3>
		</li>
	</ul>
</div>