<div class="qualities">
	<h2 class="section-title section-title--qualities js-draw-from-right">
		<div>
			<span><p>ホスト・ボーイの経験を</p></span><br>
			<span><p>企業が欲しいと思う3つの理由</p></span>
		</div>
	</h2>
	<ul class="qualities__list">
		<li class="qualities__item js-fadein">
			<div class="qualities__item-image"></div>
			<h3 class="qualities__item-heading">人と話すのが得意</h3>
			<p class="qualities__item-description">自分ではそう思わなくとも、コミュニケーション能力は同年代の人に比べて高い傾向があります。</p>
		</li>
		<li class="qualities__item js-fadein">
			<div class="qualities__item-image"></div>
			<h3 class="qualities__item-heading">自分次第の職場環境を<br>経験している</h3>
			<p class="qualities__item-description">夜職のほとんどが、稼げるかは自分次第。この職場経験はかなり貴重です。</p>
		</li>
		<li class="qualities__item js-fadein">
			<div class="qualities__item-image"></div>
			<h3 class="qualities__item-heading">成功意欲がある</h3>
			<p class="qualities__item-description">昼職で働きたいという原動力が、<br>実際に就職した後もあなたを成長させます。</p>
		</li>
	</ul>
</div>