<div class="staff js-fadein" id="js-staff-section">
	<h2 class="section-title js-draw-from-right">
		<span><p>スタッフ</p></span>
	</h2>
	<div class="staff__content">
		 <img class="staff__content-image" src="/public/images/staff.jpg">
		 <p class="staff__content-description">
		 	お問い合わせいただいた時点で担当キャリアコンサルタントが決定します。<br>あなたの転職をサポートする味方です。<br>何でもご相談ください。
		 </p>
	</div>
</div>