<div class="staff">
	<h2 class="section-title">
		<span>スタッフ</span>
	</h2>
	<ul class="staff__list" id="js-staff-slides">
		<li class="staff__item">
			 <img class="staff__item-image" src="public/images/staff-1.png" alt="" width="175">
			 <div class="staff__name">
			 	<h3>1 名字 名前</h3>
			 	<span>Nanae Myouji</span>
			 </div>
			 <p class="staff__description">
			 	1 テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
			 </p>
		</li>
		<li class="staff__item">
			 <img class="staff__item-image" src="public/images/staff-1.png" alt="" width="175">
			 <div class="staff__name">
			 	<h3>2 名字 名前</h3>
			 	<span>Nanae Myouji</span>
			 </div>
			 <p class="staff__description">
			 	2 テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
			 </p>
		</li>
		<li class="staff__item">
			 <img class="staff__item-image" src="public/images/staff-1.png" alt="" width="175">
			 <div class="staff__name">
			 	<h3>3 名字 名前</h3>
			 	<span>Nanae Myouji</span>
			 </div>
			 <p class="staff__description">
			 	3 テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
			 </p>
		</li>
		<li class="staff__item">
			 <img class="staff__item-image" src="public/images/staff-1.png" alt="" width="175">
			 <div class="staff__name">
			 	<h3>4 名字 名前</h3>
			 	<span>Nanae Myouji</span>
			 </div>
			 <p class="staff__description">
			 	4 テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
			 </p>
		</li>
	</ul>
	<div class="staff__arrows">
		<div class="staff__arrow staff__arrow--prev js-staff-arrow-prev"></div>
		<div class="staff__arrow staff__arrow--next js-staff-arrow-next"></div>
	</div>
</div>