<div class="steps js-fadein">
	<h2 class="section-title section-title--white js-draw-from-right">
		<div class="u-show-pc">
			<span><p>簡単ライン登録で即日スカウト!?</p></span>
		</div>
		<div class="u-show-sp">
			<span><p>簡単ライン登録で</p></span>
			<span><p>即日スカウト!?</p></span>
		</div>
	</h2>
	<div class="phone js-fadein">
		<div class="phone__dialog phone__dialog--1"></div>
		<div class="phone__dialog phone__dialog--2"></div>
		<div class="phone__dialog phone__dialog--3"></div>
		<div class="phone__dialog phone__dialog--4"></div>
	</div>
	<ul class="steps__list js-fadein">
		<li class="steps__item js-fadein">
			<div class="steps__item-wrapper">
				<img class="steps__item-image" src="public/images/icon-wifi.png" alt="">
				<p class="steps__item-description">LINE登録</p>
			</div>
		</li>
		<li class="steps__item js-fadein">
			<div class="steps__item-wrapper">
				<img class="steps__item-image" src="public/images/icon-research.png" alt="">
				<p class="steps__item-description">エージェントからご質問</p>
			</div>
		</li>
		<li class="steps__item js-fadein">
			<div class="steps__item-wrapper">
				<img class="steps__item-image" src="public/images/icon-order.png" alt="">
				<p class="steps__item-description">質問に回答し、面談日程を選択</p>
			</div>
		</li>
		<li class="steps__item js-fadein">
			<div class="steps__item-wrapper">
				<img class="steps__item-image" src="public/images/icon-quiz.png" alt="">
				<p class="steps__item-description">面談にて企業候補を選定</p>
			</div>
		</li>
		<li class="steps__item js-fadein">
			<div class="steps__item-wrapper">
				<img class="steps__item-image" src="public/images/icon-interview.png" alt="">
				<p class="steps__item-description">企業面接</p>
			</div>
		</li>
		<li class="steps__item js-fadein">
			<div class="steps__item-wrapper">
				<img class="steps__item-image" src="public/images/icon-partner.png" alt="">
				<p class="steps__item-description">内定・新たな人生のスタート</p>
			</div>
		</li>
	</ul>
</div>