<div class="steps">
	<h2 class="section-title">
		<span>簡単ライン登録で</span>
		<span>即日スカウト!?</span>
	</h2>
	<div class="steps__phone">
		<p>昼職を探す</p>
		<p>昼キャリエージェントの田中です。あなたの転職活動をサポートします</p>
		<p>12月10日16時から面談を希望</p>
		<p>承知いたしました！ それでは12月10日16時にお待ちしています！</p>
	</div>
	<ul class="steps__list">
		<li class="steps__item">
			<div class="steps__item-wrapper">
				<img class="steps__item-image" src="public/images/icon-wifi.png" alt="">
				<p class="steps__item-description">LINE登録</p>
			</div>
		</li>
		<li class="steps__item">
			<div class="steps__item-wrapper">
				<img class="steps__item-image" src="public/images/icon-research.png" alt="">
				<p class="steps__item-description">エージェントからご質問</p>
			</div>
		</li>
		<li class="steps__item">
			<div class="steps__item-wrapper">
				<img class="steps__item-image" src="public/images/icon-order.png" alt="">
				<p class="steps__item-description">質問に回答し、面談日程を選択</p>
			</div>
		</li>
		<li class="steps__item">
			<div class="steps__item-wrapper">
				<img class="steps__item-image" src="public/images/icon-quiz.png" alt="">
				<p class="steps__item-description">面談にて企業候補を選定</p>
			</div>
		</li>
		<li class="steps__item">
			<div class="steps__item-wrapper">
				<img class="steps__item-image" src="public/images/icon-interview.png" alt="">
				<p class="steps__item-description">企業面接</p>
			</div>
		</li>
		<li class="steps__item">
			<div class="steps__item-wrapper">
				<img class="steps__item-image" src="public/images/icon-partner.png" alt="">
				<p class="steps__item-description">内定・新たな人生のスタート</p>
			</div>
		</li>
	</ul>
</div>