<div class="testimonies js-fadein" id="js-testimonies-section">
	<h2 class="section-title js-draw-from-right">
		<span><p>元ホスト・ボーイの声</p></span>
	</h2>
	<ul class="testimonies__list">
		<li class="testimonies__item js-fadein">
			<div class="testimonies__item-overlay"></div>
			<p class="testimonies__item-details"><span>A.Mさん</span> 30歳</p>
			<img class="testimonies__item-image" src="/public/images/testimonies-1.png" alt="">
			<h3 class="testimonies__item-heading">諦めずに問い合わせして良かった！</h3>
			<p class="testimonies__item-description">ホストが昼職転職するのなんて、無理だと思っていました。ホスドラの転職サービスに出会えて本当に良かったです。</p>
		</li>
		<li class="testimonies__item js-fadein">
			<div class="testimonies__item-overlay"></div>
			<p class="testimonies__item-details"><span>R.Yさん</span> 25歳</p>
			<img class="testimonies__item-image" src="/public/images/testimonies-2.png" alt="">
			<h3 class="testimonies__item-heading">仲の良い職場仲間と出会えた！</h3>
			<p class="testimonies__item-description">高校卒業後、なんとなくボーイをしていました。今は、本気になれる昼職で頑張っています！</p>
		</li>
		<li class="testimonies__item js-fadein">
			<div class="testimonies__item-overlay"></div>
			<p class="testimonies__item-details"><span>N.Nさん</span> 28歳</p>
			<img class="testimonies__item-image" src="/public/images/testimonies-3.png" alt="">
			<h3 class="testimonies__item-heading">営業職が僕の天職でした！</h3>
			<p class="testimonies__item-description">夜職は基本、お客さんと話す時間がほとんど。そこで得た自分のトーク力が活きていると感じます！</p>
		</li>
	</ul>
</div>