<div class="testimonies js-fadein">
	<h2 class="section-title">
		<span>夜職卒業生の声</span>
	</h2>
	<ul class="testimonies__list">
		<li class="testimonies__item js-fadein">
			<div class="testimonies__item-overlay"></div>
			<img class="testimonies__item-image" src="public/images/testimonies-1.png" alt="">
			<h3 class="testimonies__item-heading">テキストテキストテキストテキストテキ</h3>
			<p class="testimonies__item-description">テキストテキストテキストテキストテキストテキスト</p>
		</li>
		<li class="testimonies__item js-fadein">
			<div class="testimonies__item-overlay"></div>
			<img class="testimonies__item-image" src="public/images/testimonies-2.png" alt="">
			<h3 class="testimonies__item-heading">テキストテキストテキストテキストテキ</h3>
			<p class="testimonies__item-description">テキストテキストテキストテキストテキストテキスト</p>
		</li>
		<li class="testimonies__item js-fadein">
			<div class="testimonies__item-overlay"></div>
			<img class="testimonies__item-image" src="public/images/testimonies-3.png" alt="">
			<h3 class="testimonies__item-heading">テキストテキストテキストテキストテキ</h3>
			<p class="testimonies__item-description">テキストテキストテキストテキストテキストテキスト</p>
		</li>
	</ul>
</div>