<div class="testimonies js-fadein" id="js-testimonies-section">
	<h2 class="section-title js-draw-from-right">
		<span><p>夜職卒業生の声</p></span>
	</h2>
	<ul class="testimonies__list">
		<li class="testimonies__item js-fadein">
			<div class="testimonies__item-overlay"></div>
			<p class="testimonies__item-details"><span>M.Yさん</span> 34歳</p>
			<img class="testimonies__item-image" src="public/images/testimonies-1.png" alt="">
			<h3 class="testimonies__item-heading">昼職がこんなに楽しいって知らなかったです！</h3>
			<p class="testimonies__item-description">経営者の方々のお話を聞いていた夜職時代の経験が、営業職で活きているように感じます。</p>
		</li>
		<li class="testimonies__item js-fadein">
			<div class="testimonies__item-overlay"></div>
			<p class="testimonies__item-details"><span>S.Hさん</span> 27歳</p>
			<img class="testimonies__item-image" src="public/images/testimonies-2.png" alt="">
			<h3 class="testimonies__item-heading">将来に対する不安がなくなりました！</h3>
			<p class="testimonies__item-description">夜の仕事をいつまでも続けていられないという悩みから開放されました。昼キャリのエージェントに相談して、本当によかったです！</p>
		</li>
		<li class="testimonies__item js-fadein">
			<div class="testimonies__item-overlay"></div>
			<p class="testimonies__item-details"><span>O.Fさん</span> 29歳</p>
			<img class="testimonies__item-image" src="public/images/testimonies-3.png" alt="">
			<h3 class="testimonies__item-heading">経歴に空白の期間があっても、昼職に復帰できました！</h3>
			<p class="testimonies__item-description">結婚を節目に夜職を卒業したかったのですが、諦めかけてました。エージェントの方だけでなく、企業側も歓迎していただけて本当に嬉しかったです。</p>
		</li>
	</ul>
</div>