<div class="testimonies js-fadein" id="js-testimonies-section">
	<h2 class="section-title js-draw-from-right">
		<span><p>夜職卒業生の声</p></span>
	</h2>
	<ul class="testimonies__list">
		<li class="testimonies__item js-fadein">
			<div class="testimonies__item-overlay"></div>
			<p class="testimonies__item-details"><span>M.Y</span> 34歳</p>
			<img class="testimonies__item-image" src="public/images/testimonies-1.png" alt="">
			<h3 class="testimonies__item-heading">テキストテキストテキストテキストテキ</h3>
			<p class="testimonies__item-description">テキストテキストテキストテキストテキストテキスト</p>
		</li>
		<li class="testimonies__item js-fadein">
			<div class="testimonies__item-overlay"></div>
			<p class="testimonies__item-details"><span>S.H</span> 27歳</p>
			<img class="testimonies__item-image" src="public/images/testimonies-2.png" alt="">
			<h3 class="testimonies__item-heading">テキストテキストテキストテキストテキ</h3>
			<p class="testimonies__item-description">テキストテキストテキストテキストテキストテキスト</p>
		</li>
		<li class="testimonies__item js-fadein">
			<div class="testimonies__item-overlay"></div>
			<p class="testimonies__item-details"><span>O.F</span> 29歳</p>
			<img class="testimonies__item-image" src="public/images/testimonies-3.png" alt="">
			<h3 class="testimonies__item-heading">テキストテキストテキストテキストテキ</h3>
			<p class="testimonies__item-description">テキストテキストテキストテキストテキストテキスト</p>
		</li>
	</ul>
</div>