.l-index__qna {
    position: relative;

    padding: 100px 0;

    background-image: url('#{$path-image}bg-5.png');
    background-size: contain;

    @include max-screen($breakpoint-mobile) {
        padding: 70px 0 100px;

        background-size: cover;
    }

    &.is-shown {
        &:before {
            opacity: 1;
        }
    }

    &:after {
        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        content: '';

        background-image: url('#{$path-image}bg-6.png');
    }

    &:before {
        @include max-screen($breakpoint-mobile) {
            position: absolute;
            z-index: 1;
            top: -95px;

            width: 100%;
            height: 42vw;

            content: '';
            transition: opacity $duration $easing;

            opacity: 0;
            background-image: url('#{$path-image}hero-after.png');
            background-size: cover;
        }
    }
}

.l-index__info {
    position: relative;

    padding: 100px 0 0;

    background-image: url('#{$path-image}bg-1.jpg');
    background-size: cover;

    &:after {
        position: relative;
        z-index: 1;
        top: 99px;

        display: block;

        width: 100%;
        height: 100px;

        content: '';

        background-color: #fff;
        background-image: url('#{$path-image}bg-1.jpg');
        background-position: center bottom;

        clip-path: polygon(0 100%, 0 0, 100% 0);
        @include max-screen($breakpoint-mobile) {
            top: 44px;

            height: 45px;

            background-color: #ece5d5;
            background-image: none;
        }
    }
}

.l-index__info-decors {
    @include max-screen($breakpoint-mobile) {
        position: absolute;
        top: -120px;
        left: 0;

        width: 100%;
        height: 269px;

        background-image: url('#{$path-image}section-decor.png');
        background-size: cover;
    }
}

.l-index__contact {
    position: relative;

    padding: 150px 0 70px;

    @include max-screen($breakpoint-mobile) {
        padding: 80px 0 70px;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background-image: url('#{$path-image}bg-2.png');
        background-position: center center;
        background-size: 115%;

        filter: opacity(.15);
        @include max-screen($breakpoint-mobile) {
            background-size: 200%;
        }
    }

    // MODIFIER
    &.l-index__contact--bottom {
        z-index: 1;

        margin-bottom: -90px;
        padding: 130px 0;

        @include max-screen($breakpoint-mobile) {
            margin-bottom: -50px;
            padding: 70px 0;
        }
    }
}

.l-index__qualities {
    position: relative;

    @include max-screen($breakpoint-mobile) {
        background-image: url('#{$path-image}bg-5.png');
        background-size: cover;
    }

    &:before {
        position: absolute;

        display: block;

        width: 100%;
        height: 100%;

        content: '';

        background-image: url('#{$path-image}bg-6.png');
    }
}

.l-index__qualities-decors {
    position: relative;

    &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: -800px;

        display: inline-block;

        width: 0;
        height: 0;

        content: '';

        border-width: 0 280vw 350px 0;
        border-style: solid;
        border-color: transparent #c0b283 transparent transparent;

        @include max-screen($breakpoint-mobile) {
            left: -300px;

            border-width: 0 180vw 120px 0;
        }
    }

    &:after {
        position: absolute;
        top: 65px;
        left: 0;

        display: inline-block;

        width: 0;
        height: 0;

        content: '';

        border-width: 12px 0 50px 150px;
        border-style: solid;
        border-color: transparent transparent transparent #000;

        @include max-screen($breakpoint-mobile) {
            top: 10vw;

            border-width: 20px 0 30px 100px;
        }
    }
}

.l-index__consultant {
    padding: 50px 0 130px;

    background-image: url('#{$path-image}bg-3.png');
    background-size: 30%;

    @include max-screen($breakpoint-mobile) {
        padding: 0 0 100px;

        background-size: cover;
    }
}

.l-index__steps {
    position: relative;

    padding: 40px 0 70px;

    background-image: url('#{$path-image}bg-1.jpg');
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        padding: 0 0 50px;
    }

    &:before {
        position: absolute;
        z-index: 1;
        top: -89px;
        left: 0;

        display: block;

        width: 100%;
        height: 90px;

        content: '';
        transform: scaleY(-1);

        background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        url('#{$path-image}bg-1.jpg');
        background-size: cover;

        clip-path: polygon(100% 0, 0 0, 100% 100%);
        @include max-screen($breakpoint-mobile) {
            top: -59px;

            height: 60px;

            background-size: initial;
        }
    }
}

.l-index__steps-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .3);
}

.l-index__steps-decors {
    @include max-screen($breakpoint-mobile) {
        position: absolute;
        top: 300px;
        left: 0;

        width: 100%;
        height: 55vw;

        background-image: url('#{$path-image}steps-decor.png');
        background-size: cover;
    }
}

.l-index__testimonies {
    position: relative;

    padding: 70px 0 0;

    background-color: #f4f4f4;

    @include max-screen($breakpoint-mobile) {
        padding-top: 100px;
    }

    &:after {
        position: relative;
        z-index: 2;
        top: 60px;

        display: block;

        width: 100%;
        height: 60px;

        content: '';

        background-color: #f4f4f4;

        clip-path: polygon(0 100%, 0 0, 100% 0);
        @include max-screen($breakpoint-mobile) {
            top: 50px;

            height: 50px;
        }
    }
}

.l-index__testimonies-decors {
    @include max-screen($breakpoint-mobile) {
        position: absolute;
        top: -120px;
        left: 0;

        width: 100%;
        height: 269px;

        background-image: url('#{$path-image}section-decor.png');
        background-size: cover;
    }
}
