.consultant {
    text-align: center;
}

.consultant__content {
    font-size: 24px;

    position: relative;

    display: flex;

    margin-top: 40px;
    padding: 80px;
    padding: 80px;

    background-color: #dcd0c0;

    flex-wrap: wrap;
    @include max-screen($breakpoint-mobile) {
        font-size: 17px;

        padding: 20px 20px 40px;
    }
}

.consultant__content-image {
    height: 320px;

    border-radius: 10px;

    object-fit: none;
    @include max-screen($breakpoint-mobile) {
        width: 100%;
        height: 231px;
    }
}

.consultant__content-name {
    position: relative;
    top: 50px;
    right: 0;

    width: 50%;
    height: auto;

    @include max-screen($breakpoint-mobile) {
        position: absolute;
        top: 25px;
        right: 35px;

        width: auto;
        height: 230px;

        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    span {
        display: block;

        @include max-screen($breakpoint-mobile) {
            position: relative;
            top: -25px;
        }
    }
}

.consultant__content-description {
    position: absolute;
    top: 215px;
    right: 120px;

    width: 40%;
    margin-top: 25px;

    @include max-screen($breakpoint-mobile) {
        position: static;

        width: auto;
    }
}
