.contact {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    @include max-screen($breakpoint-mobile) {
        display: block;
    }
}

.contact__description {
    width: 100%;
    margin-bottom: 25px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        font-size: 14px;

        width: auto;
    }

    span {
        font-size: 17px;
        font-weight: bold;

        color: #e31e7d;
    }
}

.contact__button {
    position: relative;

    display: block;

    width: 350px;
    margin: 0 15px 15px;
    padding: 8px 15px 6px;

    transition: opacity $duration $easing;
    text-align: center;

    border-radius: 5px;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin: 0 0 15px;
        padding: 10px 15px 5px;
    }

    &:hover {
        opacity: .7;
    }

    &:after {
        position: absolute;
        top: 45%;
        right: 15px;

        width: 10px;
        height: 10px;

        content: '';
        transform: rotate(45deg);

        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
    }

    // MODIFIERS
    &.contact__button--line {
        padding: 16px 0;

        border: 1px solid #00b900;
        background-color: #fff;

        &:after {
            position: absolute;

            border-color: #00b900;
        }
    }
}

.contact__button--phone {
    background: linear-gradient(to top, rgba(221,0,110,1) 0%, rgba(255,93,150,1) 100%);

    p {
        color: #fff;

        &:first-child {
            @include max-screen($breakpoint-mobile) {
                font-size: 14px;

                margin-bottom: -5px;
            }
        }
        &:nth-child(2) {
            font-family: $font-din-alt;
            font-size: 30px;

            position: relative;
            left: 10px;

            display: inline-block;

            &:before {
                position: absolute;
                top: 5px;
                left: -30px;

                display: block;

                width: 18px;
                height: 35px;

                content: '';

                background-image: url('#{$path-image}icon-phone.png');
                background-size: cover;
            }
        }
    }
}

.contact__button--line {
    font-size: 24px;

    color: #00b900;

    p {
        font-weight: bold;

        position: relative;
        left: 10px;

        display: inline-block;

        &:before {
            position: absolute;
            top: 5px;
            left: -50px;

            display: block;

            width: 36px;
            height: 36px;

            content: '';

            background-image: url('#{$path-image}icon-line.png');
            background-size: cover;
        }
    }

    span {
        font-size: 28px;
    }
}
