.footer {
    position: relative;

    height: 180px;

    background-image: url('#{$path-image}bg-1.jpg');
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        height: 105px;
    }

    &:before {
        position: relative;
        top: -1px;

        display: block;

        width: 100%;
        height: 150px;

        content: '';

        background-color: #fff;

        clip-path: polygon(100% 0, 0 0, 100% 60%);
        @include max-screen($breakpoint-mobile) {
            height: 150px;

            clip-path: polygon(100% 0, 0 0, 100% 25%);
        }
    }
}

.footer__link {
    position: absolute;
    top: 115px;
    right: 0;

    display: block;

    width: 40px;
    height: 40px;

    transition: background-color $duration $easing;

    background-color: #fff;
    box-shadow: 0 2px 4px #999;

    @include max-screen($breakpoint-mobile) {
        top: 50px;
    }

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;

        width: 6px;
        height: 6px;

        content: '';
        transition: border-color $duration $easing;
        transform: rotate(-45deg) translate(-50%, -50%);

        border-top: 2px solid #373737;
        border-right: 2px solid #373737;
    }

    &:hover {
        background-color: $color-primary;

        &:before {
            border-top-color: #fff;
            border-right-color: #fff;
        }
    }
}
