.header {
    position: relative;
}

.header__logo {
    position: absolute;
    z-index: 5;
    top: 17px;
    left: 20px;

    @include max-screen($breakpoint-mobile) {
    }

    a {
        display: block;
    }

    img {
        width: 130px;

        @include max-screen($breakpoint-mobile) {
            width: 83px;
        }
    }
}

.header__hamburger {
    position: fixed;
    z-index: 20;
    top: 20px;
    right: 20px;

    width: 26px;
    height: 24px;

    cursor: pointer;
    transition: .5s $easing;
    transform: rotate(0deg);

    span {
        position: absolute;
        left: 0;

        display: block;

        width: 100%;
        height: 3px;

        transition: $duration $easing;
        transform: rotate(0deg);

        opacity: 1;
        border-radius: 9px;
        background-color: #fff;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 9px;
        }

        &:nth-child(4) {
            top: 18px;
        }
    }

    // STATE
    &.is-open {
        span {
            &:nth-child(1) {
                top: 9px;
                left: 50%;

                width: 0;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 9px;
                left: 50%;

                width: 0;
            }
        }
    }
}

.header__menu {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;

    width: 25%;
    height: 100%;
    padding: 150px 20px;

    transition: opacity $duration $easing;

    opacity: 0;
    background-color: #bbae80;

    flex-wrap: wrap;
    align-items: center;
    @include max-screen($breakpoint-mobile) {
        z-index: -1;

        width: 63%;
    }

    // STATE
    &.is-shown {
        position: fixed;
        z-index: 15;

        opacity: 1;
    }
}

.header__menu-list {
    width: 100%;

    list-style-type: none;
}

.header__menu-item {
    margin-bottom: 10px;
    padding: 0 0 5px 10px;

    border-bottom: 2px solid #cec5a4;

    a {
        display: block;

        transition: opacity $duration $easing;

        color: #fff;

        &:hover {
            opacity: .8;
        }
    }
}

.header__menu-buttons {
    width: 100%;
    margin-top: 80px;

    .contact__button {
        width: 100%;
        margin: 0 0 15px;

        @include max-screen($breakpoint-mobile) {
            margin-bottom: 10px;
        }

        &.contact__button--phone,
        &.contact__button--line {
            p,
            span {
                font-size: 14px;
            }
        }

        &.contact__button--phone {
            p {
                &:nth-child(2) {
                    font-size: 18px;
                    &:before {
                        top: -5px;

                        width: 10px;
                        height: 21px;
                    }
                }
            }
        }

        &.contact__button--line {
            padding: 10px 0;

            p {
                top: -4px;

                &:before {
                    top: -2px;
                    left: -40px;

                    width: 26px;
                    height: 26px;
                }
            }
        }

        &:after {
            width: 7px;
            height: 7px;

            border-top-width: 2px;
            border-right-width: 2px;
        }
    }
}
