.hero {
    position: relative;

    opacity: 0;
    height: 100vh;

    transition: opacity .5s $easing;

    color: #fff;
    background-image: url('#{$path-image}hero-pc.jpg');
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        z-index: 2;

        overflow-x: hidden;

        height: 625px;

        background-image: url('#{$path-image}hero.jpg');

        clip-path: polygon(0 0, 100% 0%, 100% 89.5%, 0% 100%);
    }

    &.is-shown {
        opacity: 1;
    }
}

.hero__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(78, 73, 77, .35);

    @include max-screen($breakpoint-mobile) {
        height: 625px;
    }
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 48%;

    transform: translateY(-50%);

    @include max-screen($breakpoint-mobile) {
        top: 65%;
        left: 50%;

        width: 100%;

        transform: translate(-50%, -50%);
    }
}

.hero__tagline {
    font-family: $font-851;
    font-size: 45px;

    @include max-screen($breakpoint-mobile) {
        font-size: 23px;

        top: 255px;
        right: auto;
        left: 0;

        width: 100%;

        text-align: center;
    }
}

.hero__title {
    font-family: $font-851;
    font-size: 110px;
    font-weight: 100;
    line-height: 1.2;

    // position: absolute;
    // top: 37%;

    width: 100%;
    margin-top: 20px;

    transition: opacity .5s $easing,
    transform .5s $easing;
    transform: translateX(-100px);

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        font-size: 50px;
        line-height: 1.2;

        text-align: center;
    }

    span {
        &:first-child {
            font-size: 120px;

            @include max-screen($breakpoint-mobile) {
                font-size: 70px;
            }
        }
    }

    &.is-shown {
        transform: translateX(0);

        opacity: 1;
    }
}

.hero__description {
    font-size: 25px;

    width: 90%;
    margin-top: 25px;

    @include max-screen($breakpoint-mobile) {
        font-size: initial;

        top: 470px;
        left: auto;

        width: 100%;

        text-align: center;
    }
}

.hero__tagline,
.hero__description {
    transition: opacity .5s $easing,
    transform .5s $easing;
    transform: translateX(-100px);

    opacity: 0;

    &.is-shown {
        transform: translateX(0);

        opacity: 1;
    }
}
