.info {
    text-align: center;
}

.info__description {
    margin-top: 25px;

    @include max-screen($breakpoint-mobile) {
        position: relative;
        left: -3px;

        width: 102%;

        letter-spacing: -.05em;
    }
}

.info__list {
    display: flex;

    margin-top: 30px;

    list-style-type: none;

    flex-wrap: wrap;
    justify-content: space-between;
    @include max-screen($breakpoint-mobile) {
        display: block;
        overflow: hidden;

        margin: 0 -20px;
    }
}

.info__item {
    position: relative;

    width: 30%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-bottom: 125px;
    }

    &:before {
        @include max-screen($breakpoint-mobile) {
            position: absolute;
            top: 23px;
            left: -26px;

            width: 123vw;
            height: 218px;

            content: '';
            transform: rotate(-11deg);

            background-color: #373737;
        }
    }

    &:nth-of-type(1) {
        @include max-screen($breakpoint-mobile) {
            margin-top: 40px;
        }

        .info__item-image {
            background-image: url('#{$path-image}info-1-pc.jpg');

            @include max-screen($breakpoint-mobile) {
                background-image: url('#{$path-image}info-1.png');
            }
        }
    }
    &:nth-of-type(2) {
        @include max-screen($breakpoint-mobile) {
            margin-bottom: 100px;
        }

        &:before {
            @include max-screen($breakpoint-mobile) {
                top: 40px;

                height: 215px;

                transform: rotate(11deg);
            }
        }

        .info__item-image {
            background-image: url('#{$path-image}info-2-pc.jpg');

            @include max-screen($breakpoint-mobile) {
                background-image: url('#{$path-image}info-2.png');
            }
        }
        .info__item-heading {
            @include max-screen($breakpoint-mobile) {
                top: 205px;
                left: 20px;
            }
        }
        .info__item-description {
            @include max-screen($breakpoint-mobile) {
                top: 290px;
                left: 10%;
            }
        }
    }
    &:nth-of-type(3) {
        &:before {
            @include max-screen($breakpoint-mobile) {
                top: 23px;

                height: 218px;
            }
        }

        .info__item-image {
            background-image: url('#{$path-image}info-3-pc.jpg');

            @include max-screen($breakpoint-mobile) {
                background-image: url('#{$path-image}info-3.png');
            }
        }

        .info__item-heading {
            @include max-screen($breakpoint-mobile) {
                left: 16%;
            }
        }
        .info__item-description {
            @include max-screen($breakpoint-mobile) {
                left: 25%;

                width: 63%;
            }
        }
    }
}

.info__item-image {
    position: relative;

    height: 240px;

    background-position: center;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        height: 287px;
    }
}

.info__item-heading {
    font-size: 21px;

    margin-top: 15px;

    text-align: left;

    color: $color-primary;
    text-shadow: 1px 2px 2px #fff;

    @include max-screen($breakpoint-mobile) {
        font-size: 18px;

        position: absolute;
        top: 225px;
        left: 22%;

        margin-top: 5px;
    }

    &:first-letter {
        @include max-screen($breakpoint-mobile) {
            font-size: 40px;
        }
    }
}

.info__item-description {
    font-size: 16px;

    position: relative;

    margin-top: 5px;

    text-align: left;
    letter-spacing: -.034em;

    @include max-screen($breakpoint-mobile) {
        font-size: 14px;
        line-height: 1.6;

        position: absolute;
        top: 300px;
        left: 26%;

        width: 65%;

        letter-spacing: normal;
    }
}
