.phone {
    position: relative;

    display: flex;

    width: 28.5%;
    height: 530px;
    margin: 45px 0 0 0;

    background-image: url('#{$path-image}phone-bg.png');
    background-position: center center;
    background-size: cover;

    flex-wrap: wrap;
    justify-content: center;
    @include max-screen($breakpoint-mobile) {
        width: 84%;
        height: 132vw;
        margin: 80px auto 40px;

        background-repeat: no-repeat;
        background-size: contain;
    }
}

.phone__dialog {
    position: absolute;

    transition: opacity 1s $easing,
    transform 1s $easing;

    opacity: 0;
    background-position: center center;
    background-size: contain;

    // MODIFIERS
    &.phone__dialog--1 {
        top: 80px;

        width: 196px;
        height: 73px;

        background-image: url('#{$path-image}phone-1.png');

        @include max-screen($breakpoint-mobile) {
            top: 19vw;
        }
    }

    &.phone__dialog--2 {
        top: 160px;

        width: 232px;
        height: 83px;

        background-image: url('#{$path-image}phone-2.png');

        @include max-screen($breakpoint-mobile) {
            top: 39vw;
        }
    }

    &.phone__dialog--3 {
        top: 255px;

        width: 199px;
        height: 86px;

        background-image: url('#{$path-image}phone-3.png');

        @include max-screen($breakpoint-mobile) {
            top: 63vw;
        }
    }
    &.phone__dialog--4 {
        top: 355px;

        width: 228px;
        height: 96px;

        background-image: url('#{$path-image}phone-4.png');

        @include max-screen($breakpoint-mobile) {
            top: 88vw;
        }
    }
}
