.qna {
    text-align: center;
}
.qna__list {
    padding-left: 60px;

    list-style-type: none;

    @include max-screen($breakpoint-mobile) {
        margin-top: 15px;
        padding-left: 0;
    }
}
.qna__item {
    display: flex;

    margin-top: 50px;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include max-screen($breakpoint-mobile) {
        display: block;

        margin-top: 30px;
    }

    &:first-of-type {
        margin-top: 45px;
    }

    &:nth-of-type(2) {
        .qna__item-heading {
            &:before {
                @include max-screen($breakpoint-mobile) {
                    left: 11px;
                }
            }
            &:after {
                @include max-screen($breakpoint-mobile) {
                    left: 10px;
                }
            }
        }
    }

    &:nth-of-type(3) {
        .qna__item-heading {
            &:before {
                @include max-screen($breakpoint-mobile) {
                    left: -3px;
                }
            }
            &:after {
                @include max-screen($breakpoint-mobile) {
                    left: -5px;
                }
            }
        }
    }
}
.qna__item-heading {
    font-size: 21px;

    position: relative;

    display: inline-block;

    width: 24%;

    text-align: left;

    @include max-screen($breakpoint-mobile) {
        font-size: 20px;

        width: auto;

        text-align: center;
    }

    // STATE
    &.is-shown {
        span {
            width: auto;

            p {
                transform: translateX(0);

                opacity: 1;
            }

            &:after {
                animation: drawFromRight 1.3s forwards;
            }
        }
    }

    span {
        position: relative;

        display: inline-block;

        width: 0;
        margin-bottom: 7px;

        @include max-screen($breakpoint-mobile) {
            margin-bottom: 0;
        }

        &:after {
            position: absolute;
            z-index: -1;
            right: 0;
            bottom: 0;

            display: block;

            width: 0;
            height: 11px;

            content: '';
            transform: skew(-30deg);

            background-color: $color-secondary;
        }

        p {
            transition: opacity 1s $easing .4s,
            transform 1s $easing .4s;
            transform: translateX(150px);

            opacity: 0;
        }
    }
}
.qna__item-description {
    font-size: 16px;

    width: 69%;

    text-align: left;

    @include max-screen($breakpoint-mobile) {
        font-size: 15px;

        width: 100%;
        margin-top: 15px;

        letter-spacing: -.05em;
    }
}
