.section-title {
    @include max-screen($breakpoint-mobile) {
        font-size: 28px;

        text-shadow: 1px 2px 1px #fff;
    }

    span {
        @include max-screen($breakpoint-mobile) {
            position: relative;
            z-index: 1;

            display: inline-block;
        }

        &:before {
            @include max-screen($breakpoint-mobile) {
                position: absolute;
                z-index: -1;
                bottom: 3px;
                left: -5px;

                display: block;

                width: 103%;
                height: 10px;

                content: '';

                background-color: #fff229;
            }
        }

        em {
            @include max-screen($breakpoint-mobile) {
                font-size: 40px;
                font-style: normal;
            }
        }
    }
}
