.section-title {
    font-size: 40px;

    text-shadow: 1px 2px 1px #fff;

    @include max-screen($breakpoint-mobile) {
        font-size: 28px;

        min-height: 175px;
        margin: 0 -20px -60px;
        padding: 40px 0 0;

        background-image: url('#{$path-image}heading-bg.png');
        background-repeat: no-repeat;
        background-size: 363px 172px;
    }

    span {
        position: relative;
        z-index: 1;

        display: inline-block;

        width: 0;

        &:after {
            position: absolute;
            z-index: -1;
            right: -5px;
            bottom: 4px;

            display: block;

            width: 0;
            height: 12px;

            content: '';
            transition: width $duration $easing;
            transform: skew(-30deg);

            background-color: #fff229;

            @include max-screen($breakpoint-mobile) {
                bottom: 0;
            }
        }

        p {
            transition: opacity 1s $easing .4s,
            transform 1s $easing .4s;
            transform: translateX(150px);

            opacity: 0;
        }

        em {
            font-size: 40px;
            font-style: normal;
        }
    }

    // MODIFIER
    &.section-title--white {
        color: #fff;
        text-shadow: 1px 1px 2px #888;
    }
    &.section-title--qualities {
        @include max-screen($breakpoint-mobile) {
            font-size: 26px;
        }
    }

    // STATE
    &.is-shown {
        span {
            width: auto;

            p {
                transform: translateX(0);

                opacity: 1;
            }

            &:after {
                animation: drawFromRight 1.3s forwards;
            }
        }
    }
}
