.staff {
    position: relative;

    margin-top: 30px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        margin-top: 0;
    }
}

.staff__list {
    margin-top: 40px;

    list-style-type: none;

    @include max-screen($breakpoint-mobile) {
        margin-top: 10px;
    }
}

.staff__item {
    position: relative;

    @include max-screen($breakpoint-mobile) {
        padding: 0 45px;
    }
}

.staff__item-image {
    margin: 0 auto;
}

.staff__name {
    position: absolute;
    top: 140px;
    right: 45px;

    padding: 6px 15px;

    transform: skew(-10deg);
    text-align: center;

    background-color: #c0b283;

    h3 {
        font-size: 28px;

        margin-bottom: -3px;
    }
    span {
        font-size: 12px;

        display: block;

        @include max-screen($breakpoint-mobile) {
            font-size: 10px;
        }
    }

    h3,
    span {
        transform: skew(10deg);
    }
}

.staff__description {
    margin-top: 40px;
    padding: 0 45px;

    text-align: left;

    @include max-screen($breakpoint-mobile) {
        padding: 0;

        letter-spacing: -.03em;
    }
}

.staff__arrows {
    position: absolute;
    top: 50%;

    width: 100%;
}

.staff__arrow {
    position: absolute;

    display: block;

    width: 15px;
    height: 15px;

    cursor: pointer;
    transition: opacity $duration $easing;

    border-top: 3px solid $color-primary;
    border-left: 3px solid $color-primary;

    &:hover {
        opacity: .7;
    }

    // MODIFIERS
    &.staff__arrow--prev {
        left: 10px;

        transform: rotate(-45deg);
    }
    &.staff__arrow--next {
        right: 10px;

        transform: rotate(135deg);
    }
}
