.staff {
    @include max-screen($breakpoint-mobile) {
        position: relative;

        text-align: center;
    }
}

.staff__list {
    @include max-screen($breakpoint-mobile) {
        margin-top: 40px;

        list-style-type: none;
    }
}

.staff__item {
    @include max-screen($breakpoint-mobile) {
        position: relative;

        padding: 0 45px;
    }
}

.staff__item-image {
    @include max-screen($breakpoint-mobile) {
        margin: 0 auto;
    }
}

.staff__name {
    @include max-screen($breakpoint-mobile) {
        position: absolute;
        top: 175px;
        right: 45px;

        padding: 6px 15px;

        transform: skew(-10deg);
        text-align: center;

        background-color: #c0b283;
    }
    h3 {
        @include max-screen($breakpoint-mobile) {
            font-size: 28px;

            margin-bottom: -3px;
        }
    }
    span {
        @include max-screen($breakpoint-mobile) {
            font-size: 10px;

            display: block;
        }
    }

    h3,
    span {
        @include max-screen($breakpoint-mobile) {
            transform: skew(10deg);
        }
    }
}

.staff__description {
    @include max-screen($breakpoint-mobile) {
        margin-top: 40px;

        text-align: left;
    }
}

.staff__arrows {
    @include max-screen($breakpoint-mobile) {
        position: absolute;
        top: 50%;

        width: 100%;
    }
}

.staff__arrow {
    @include max-screen($breakpoint-mobile) {
        position: absolute;

        display: block;

        width: 15px;
        height: 15px;

        border-top: 3px solid $color-primary;
        border-left: 3px solid $color-primary;
    }

    // MODIFIERS
    &.staff__arrow--prev {
        @include max-screen($breakpoint-mobile) {
            left: 10px;

            transform: rotate(-45deg);
        }
    }
    &.staff__arrow--next {
        @include max-screen($breakpoint-mobile) {
            right: 10px;

            transform: rotate(135deg);
        }
    }
}
