.steps {
    display: flex;

    padding: 0 70px;

    text-align: center;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include max-screen($breakpoint-mobile) {
        display: block;

        padding: 0;
    }

    .section-title {
        width: 100%;

        @include max-screen($breakpoint-mobile) {
            width: auto;
        }
    }
}

.steps__list {
    display: flex;

    width: 65%;
    margin-top: 90px;

    list-style-type: none;

    counter-reset: step;

    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    @include max-screen($breakpoint-mobile) {
        display: block;

        width: auto;
        margin-top: 0;
    }
}

.steps__item {
    position: relative;

    width: 47.5%;
    margin-bottom: 30px;
    padding: 15px;

    text-align: center;

    background-color: #fff;
    background-image: url('#{$path-image}bg-6.png');
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-bottom: 40px;
        padding: 25px 15px 25px;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;

        display: inline-block;

        width: 0;
        height: 0;

        content: '';

        border-width: 70px 130px 0 0;
        border-style: solid;
        border-color: $color-primary transparent transparent transparent;
    }

    &:after {
        font-size: 17px;

        position: absolute;
        top: 8px;
        left: 8px;

        content: 'STEP' counter(step);
        counter-increment: step;

        color: #fff;
    }

    &:last-of-type {
        .steps__item-wrapper:after {
            display: none;
        }
    }

    &:first-child {
        .steps__item-image {
            width: 45px;

            @include max-screen($breakpoint-mobile) {
                width: 48px;
            }
        }
    }

    &:nth-child(2) {
        order: 3;
        @include max-screen($breakpoint-mobile) {
            order: 2;
        }

        .steps__item-image {
            @include max-screen($breakpoint-mobile) {
                width: 45px;
            }
        }
    }

    &:nth-child(3) {
        order: 5;
        @include max-screen($breakpoint-mobile) {
            order: 3;
        }

        .steps__item-wrapper:after {
            display: none;

            @include max-screen($breakpoint-mobile) {
                display: block;
            }
        }

        .steps__item-image {
            width: 37px;
        }
    }

    &:nth-child(4) {
        order: 2;
        @include max-screen($breakpoint-mobile) {
            order: 4;
        }
    }

    &:nth-child(5) {
        order: 4;
        @include max-screen($breakpoint-mobile) {
            order: 5;
        }
    }

    &:nth-child(6) {
        order: 6;
    }
}

.steps__item-wrapper {
    position: relative;

    &:after {
        position: absolute;
        top: auto;
        bottom: -40px;
        left: 45%;

        display: block;

        width: 15px;
        height: 15px;

        content: '';
        transform: rotate(135deg) translateX(-50%);

        border-top: 3px solid #fff;
        border-right: 3px solid #fff;

        @include max-screen($breakpoint-mobile) {
            top: auto;
            right: auto;
            bottom: -52px;
            left: 45%;
        }
    }
}

.steps__item-image {
    width: 40px;
    margin-bottom: 5px;
}

.steps__item-description {
    font-size: 18px;
    font-weight: bold;

    @include max-screen($breakpoint-mobile) {
        font-size: 20px;
    }
}
